@tailwind base; 
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;

  --box-background: #86efac;
  --header-links: #166534;
}

[data-theme="dark"] {
  --background: 	#292b2f;
  --foreground: #ededed;

  --box-background: #12522f;
  --header-links: #49c039;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.event-row {
  padding: 2px;
  margin-bottom: 2px
}

.event-row:hover {
  background-color: var(--box-background);
  padding: 5px;
  border-radius: 10px;
  box-shadow: 5px 10px 15px rgba(0,0,0,0.1);
  margin-bottom: 2px
}

[data-theme="dark"] .event-row:hover {
  background-color: var(--box-background); /* Dark mode background */
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5); /* Slightly stronger shadow for dark mode */
}

.AttractionsTitle{
  background-color: var(--box-background) ;
  box-shadow: 1px 3px 5px  rgba(0,0,0,0.1);
  font-size: x-large;
  text-indent: 10px;
  margin-bottom: 20px

}

[data-theme="dark"] .AttractionsTitle {
  background-color: var(--box-background); /* Dark mode background */
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5); /* Slightly stronger shadow for dark mode */
  text-indent: 10px;
}